body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(26, 26, 26);
}

h1 {
  color: rgb(155, 113, 113);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: lightgrey;
  border-style: none;
  border-left: 1px solid black;
  padding: 10px;
}

textarea:focus{
  outline:none;
  border-left: 1px solid black;
}


.nope {
  font-size: 18px;
  color: rgb(97, 97, 97);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: darkgrey;
  border-radius: 0;
  border-bottom: 10px solid rgb(0, 0, 0);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;;
}

.hour {
  background-color: rgb(95, 35, 35);
  color: lightgrey;
  border-top: 1px dashed black;
  padding: 10px;
  padding-top: 30px;
}

.past {
  background-color: #2e2e2e;
  color: white;
}

.present {
  background-color: #000000;
  color: white;
}

.future {
  background-color: #1f1c2c;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(172, 0, 0);
  color: white;
  border-style: none;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
